*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
}

body{
    background-color: var(--color-secondary);
}

 /* ///////Header css/////////// */

.header{
    background-color:var(--color-dark);
    color:var(--color-white);
    display: flex;
    flex-direction: column;
    height: 400px;

}

.site-info{
   flex-grow: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.site-info .heading{
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

}

.site-info .description{
  font-size: 24px;
  color: var(--color-primary);
  font-style: italic;
  font-weight: 700;

}

.navbar{
    background-color: var(--color-primary);
}

.navbar ul  {
  display: flex;
  list-style: none;
  justify-content: space-around;
  flex-direction: column;
  
}

.navbar ul li{
  flex-grow: 1;
  text-align: center;
}


.navbar ul li a{
    display: block;
    color: var(--color-dark);
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.5rem; 
    padding: 10px;
    transition: all .2s ease-in-out;
}


.navbar ul li a:hover,
 .navbar ul li a:active,
 .navbar ul li a:focus{

    background-color: var(--color-dark);
    color: var(--color-primary);
 }


/* /////// main content css  ///////////// */

.main-content-area{
    padding: 20px;
}

.posts{
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
  justify-content: space-between;
}

.post{
    margin-bottom: 20px;
    width: 100%;
}

.post-img{
  height: 290px;
}

.post img{
    width: 100%;
    object-fit: cover;
    height: 100%;

}

.post h2{
    background-color: var(--color-primary);
    padding: 35px;
    text-align: center;
    color: var(--color-dark);
}

.post p{
  color: var(--color-dark);
  padding: 35px;
  background-color: var(--color-white);

}



.sidebar-right{
    background-color:blueviolet;
}


/* ///// footer css /////// */

.footer{
    background-color: var(--color-dark);
    color: var(--color-white);
}



/* ////////////// Tablet////////////// */

@media all and (min-width:600px){
    .navbar ul{
        flex-direction: row;
    }
}


/* /////////for Dextop ///////////// */

@media all and (min-width:1200px){
    .content-area{
        display: flex;
    } 
     
        .post-half{
          width: 49%;
        }

        .post-one-third{
            width: 32%;
        }

            .navbar ul{
                flex-direction: row;
            }

            .post-img{
                height: 450px;
            }
        }


hfhbhgvbcfdnbvgh,,nkjhfgc

       