:root{
   
    --color-primary: #f6d200;
    --color-secondary: #ededed;
    --color-dark: #000; 
    --color-white: #fff;

}


a:link,
a:visited{
  text-decoration: none
}

ul{
    list-style: none;
}


  .img-fluid {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}


.section-heading {
  margin: 30px;
  text-align: center;
  font-size: 36px;
  text-transform: capitalize;
  color: var(--color-dark);
}




@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');